<!DOCTYPE html>
<html>
<head>
    <title>ADD USERS</title>
</head>
<body>
    <h1>ADD USER DETAILS</h1>
    <form action="" method="post">
        <label>Name</label>
        <input type="text" name="name" required>
        
        <label>Email ID</label>
        <input type="email" name="email" required>
        
        <label>System UserName</label>
        <input type="text" name="sys_username" required>
        
        <label>System IP</label>
        <input type="text" name="sys_ip" required>
        
        <label>System Password</label>
	<input type="password" name="sys_password" required>

       
        <input type="submit" value="Save Details">
    </form>
</body>
</html>
