<!DOCTYPE html>
<html>
<head>
    <title>User Data</title>
</head>
<body>
    <h1>User Data</h1>
    <p><a href="{{ url_for('addusers') }}">Add Users</a></p>
	
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Sys-UserName</th>
                <th>Sys-IP</th>
                <th>Sys-Password</th>

            </tr>
        </thead>
        <tbody>
            {% for data in datas %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.sys_username }}</td>
                <td>{{ data.sys_ip }}</td>
                <td>{{ data.sys_password }}</td> {# Changed sys_password to password #}

            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
